h1 {
    color: green;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: blue;
}

p {
    color: orange;
}

body {
    background-image: url(../images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: url(../images/cat.jpg), no-repeat, fixed, center, cover;
    height: 200vh;
}

img{
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border: 5px solid red;
    border-top: 5px solid green;
    border-radius: 5px 10px 15px 20px;
    box-shadow: 10px 10px 20px purple;
}

body {
    background-color: antiquewhite;
    color: aliceblue;
}

.site-name {
    text-align: center;
}

.info-container {
    background-color: yellowgreen;
    display: inline-block;
    max-height: 200px;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
    border: 5px solid gray;
    box-sizing: border-box;
}

.info-content {
    width: 100%;
    height: 100%;
}

button {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    background-color: aqua;
    color: blueviolet;
    padding: 5px;
}

button:hover {
    background-color: brown;
    color: black;
}