h1 {
    color: green;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    background-color: blue;
}

p {
    color: orange;
}

.site-name {
    text-align: center;
    font-family: 'Lobster', cursive; 
}

.info-container {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.fa-solid{
    color: lime;
}
 
body {
    background-image: url(../images/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
    background-color: antiquewhite;
    color: aliceblue;
}

img{
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border: 5px solid red;
    border-top: 5px solid green;
    border-radius: 5px 10px 15px 20px;
    box-shadow: 10px 10px 20px purple;
}

button {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
    background-color: aqua;
    color: blueviolet;
    padding: 5px;
}

button:hover {
    background-color: brown;
    color: black;
}